body {
    margin: 0 auto;
    align-content: center;
    margin: 0 120px 0 120px;
}

header {
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 10px;
}

#logo {
    object-fit: contain;
    width: 230px;
    text-align: center;
    margin: 0 480px 0 0;
}

@media only screen and (max-width: 600px) {
    header {
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .logo {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin:  45px 0 45px 150px;
        font-family: "Avenir", Times, sans-serif;
        font-size: 25px;
        text-decoration: none;
    }

    h1 {
        font-family: "Avenir", Times, sans-serif;
        margin: auto;
        font-size: 15pt;
    }
  }

nav {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: flex-end;
    margin:  45px 0 45px 150px;
    font-family: "Avenir", Times, sans-serif;
    font-size: 25px;
    text-decoration: none;
}

h1 {
    font-family: "Avenir", Times, sans-serif;
    margin: auto;
    padding: 50px 0 80px 0;
    font-size: 75px !important;
    width: 65%;
}

#mainp {
    width: 1200px;
    padding-left: 250px;
}

#h1 {
    width: 1200px;
}

h2 {
    font-family: "Avenir", Times, sans-serif;
    font-size: 50px !important;
    padding: 25px 0 0 0;
}

h3{
     font-family: "Avenir", Times, sans-serif;
    font-size: 60px !important;
    padding: 75px 0 0 0;
}

h4 {
    font-family: "Avenir", Times, sans-serif;
    font-size: 100px !important;
    padding: 0 0 0 600px;
}


p {
    font-family: "Avenir", Times, sans-serif;
    font-size: 22px;
    width: 800px;
    padding: 20px 0 0 0;
}

.skills {
    display: inline-block;
    padding-left: 100px;
}

.job1 {
    display: inline-block;
    padding-left: 100px;
    margin: 100px 0 0 0;
}

#job2 {
    padding: 100px 0 0 520px;
    margin: -320px 0 0 0;
}

#job3 {
    padding: 0 0 0 520px;
}

.keyboard {
    width: 400px;
   padding: 100px 0 40px 0;
}

.btn-nav {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    padding: 0 30px;

}

.button {
    margin: 0;
    font-family: "Avenir", Times, sans-serif;
    background-color:white;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;  
    flex-grow: 1;
    flex-basis: auto; 
    width: 50%;
    border: none;


}

.UX {
    background-color: teal;
}

.branding {
    background-color: #E28647;
}

.pub {
    background-color: lightskyblue;
}

.letterpress {
    background-color: lightyellow;
}

.buttonflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    margin: 0;
}

footer {
    background-color: #E28647;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    padding-top: 25px;
    width: 100%;
}
footer nav{
    margin: 0 auto;
    font-size: 20px;
}